<nav class="wholesecondnav p-1 container-fluid">
  <section class="logo">
    <img
      src="https://static.dormanproducts.com/images/website/homepage/dorman_logo.gif"
      alt="Dorman"
      class="ms-2"
      routerLink="/"
    />
  </section>
  <section>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
            <li class="nav-item m-1">
              <a class="nav-link text-center" routerLink="Products/ViewProducts"><b>Products</b></a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link text-center" href="#"><b>Where To Buy</b></a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link text-center" href="#"
                ><b>Delivery Status</b></a
              >
            </li>
            <li class="nav-item m-1">
              <a class="nav-link text-center" href="#"><b>About Us</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</nav>


