<nav class="wholefirst p-2 container-fluid">
    <section class="langpart">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-sm dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Hindi</a></li>
            </ul>
        </div>
    </section>
    <section class="btnpart">
        <button type="button" class="btn btn-secondary btn-sm lgbtn">Login / Register</button>
    </section>
</nav>
