/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6 {
    font-family: 'benton-sans-wide', 'trebuchet ms', sans-serif;
    line-height: 1.2;
    font-weight: 700;
    color: #2F3338;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}